#page {
    min-height: 100vh;
    max-width: 100vw;
}

#theme-button {
    top: 1rem;
    right: 2rem;
}

.dark-theme {
    color: #f8f9fa;
}

li label,
div.modal-header,
div.modal-body,
div.modal-footer {
    color: black !important;
}